<mat-card>
    <mat-card-header>
        <mat-card-title>Problem List</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <problem-filter (filterChanged)="onFilterChange($event)"></problem-filter>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <!-- ID  -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef (click)="sortById()" class="sort"> 
                  <div class="sort-content">
                    ID
                    <mat-icon class="sort-icon" *ngIf="sortField === 'id'">
                      {{sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}
                    </mat-icon>
                </div>
                </th>
                <td mat-cell *matCellDef="let problem"> {{problem.id}} </td>
            </ng-container>

            <!-- Title  -->
            <ng-container matColumnDef="title" >
                <th mat-header-cell *matHeaderCellDef (click)="sortByTitle()" class="sort">
                  <div class="sort-content">
                      Title 
                      <mat-icon class="sort-icon" *ngIf="sortField === 'title'">
                        {{sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}
                    </mat-icon>
                </div>
                </th>
                <td mat-cell *matCellDef="let problem"> {{problem.title}} </td>
            </ng-container>

            <!-- Solved  -->
            <ng-container matColumnDef="solved" class="solved">
                <th mat-header-cell *matHeaderCellDef> Solved </th>
                <td mat-cell *matCellDef="let problem"> 
                    {{problem.solved}} / {{problem.solved + problem.notSolved}}  
                </td>
            </ng-container>

            <!-- Author  -->
            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef> Author </th>
                <td mat-cell *matCellDef="let problem"> {{problem.authorUsername}} </td>
            </ng-container>

            <!-- Tags  -->
            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef> Tags </th>
                <td mat-cell *matCellDef="let problem">
                    <span *ngFor="let tag of problem.tags" class="tag">
                        {{tag.name}}
                    </span>
                    <span *ngIf="problem.tags.length === 0" class="no-tags">-</span>
                </td>
            </ng-container>

          <!--  Difficulty-->

          <ng-container matColumnDef="difficultyTitle">
            <th mat-header-cell *matHeaderCellDef>Difficulty Titile</th>
            <td mat-cell *matCellDef="let problem"> 
                <span class="difficultiy-badge" [class]="getDifficultyClass(problem.difficultyTitle)">
                    {{problem.difficultyTitle}}
                </span>
            </td>
          </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let problem" class="actions-container">
                  <div class="action-buttons">
                    <button mat-icon-button class="like-button" (click)="likeProblem(problem.id)">
                      <mat-icon>thumb_up</mat-icon>
                      <span class="count">{{problem.likesCount}}</span>
                    </button>
                    <button mat-icon-button class="dislike-button" (click)="dislikeProblem(problem.id)">
                      <mat-icon>thumb_down</mat-icon>
                      <span class="count">{{problem.dislikesCount}}</span>
                    </button>
                  </div>
                </td>
              </ng-container> 

            <!-- Sarlavha va qatorlar -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <!--Paginatsiya uchun"-->
        <mat-paginator 
            [length]="totalProblems"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="currentPage"
            (page)="onPageChange($event)"
            showFirstLastButtons
            aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
</mat-card>
