.mat-mdc-card {
    align-items: center;
    margin: 30px 120px;
}

.mat-mdc-card-header {
    margin-bottom: 20px;
}

.difficultiy-badge {
    display: inline-block;
    padding: 7px 17px;
    border-radius: 16px;
    font-size: 15px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.difficulty-beginner {
    background-color:#43eb8e;
}

.difficulty-basic {
    background-color:#2bf04f ;
}

.difficulty-normal {
    background-color: #438FFF;

}

.difficulty-medium {
    background-color: #12c296;

}

.difficulty-hard {
    background-color: #f53a3a;
}

.difficulty-advanced {
    background-color: #FFF608;
}

.difficulty-unknown {
    background-color: #607D8B;
}

.mat-column-solved{
  width: 100px !important;
}
.tag {
    color: white;
    background-color: #3f51b5;
    padding: 7px 17px;
    margin: 1px 2px 1px 0;
    display: inline-block;
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.no-tags {
    color: #fff;
    background-color: #5cb3fa;
    padding: 7px 33px;
    margin: 1px 2px 1px 0;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.action-buttons {
    display: flex;
    gap: 5px; 
    align-items: center;
    padding: 4px;

  }

.action-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 7px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  
  }

.like-button {
    color: #388E3C; 
    background-color: rgba(56, 142, 60, 0.1);
  }
  
  .like-button:hover {
    background-color: rgba(56, 142, 60, 0.2);
  }
  
  .like-button .mat-icon {
    color: #388E3C;
  }
  
  .dislike-button {
    color: #D32F2F; 
    background-color: rgba(211, 47, 47, 0.1);
  }
  
  .dislike-button:hover {
    background-color: rgba(211, 47, 47, 0.2);
  }
  
  .dislike-button .mat-icon {
    color: #D32F2F;
  }
  
  .count {
    margin-left: 6px;
    font-size: 18px;
    font-weight: 500;
  }

  .mat-mdc-paginator {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

 
 
 
